.mainPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.mainPageButtons {
    display: flex;
    gap: 15px;
}